[2020-11-19 08:04] ka1to1 opened #1 "Big Sur install disk doesn’t show up in OpenCore boot menu"

[2020-11-19 09:57] GeekyCoder7 commented on #1
Make sure you have 2 partitions on your USB, the EFI partition and the other partition created with "**createinstallmedia**" from "/Applications/Install\ macOS\ Big\ Sur.app/Contents/Resources/createinstallmedia".
If you need any guidance, follow this tutorial:
https://www.tonymacx86.com/threads/how-to-create-a-macos-big-sur-public-beta-installation-usb.300100/

[2020-11-19 15:52] ka1to1 commented on #1
I used createinstallmedia and the drive is properly partitioned. When I boot the USB it doesn't show my internal windows volume as well as the USB installer for big sur. My EFI for Catalina successfully picks up the big sur installer but doesn't boot. I think there is something wrong with this EFI.

[2020-11-20 02:06] caolu199456 commented on #1
I also encountered this problem.Maybe this guide is after installation, not before installation

[2020-11-20 05:25] ka1to1 commented on #1
I got it:

Misc -> Boot > HideSelf = NO
Misc -> Security -> ScanPolicy = 722 179

For some reason the current scan policy only reads internal APFS/HFS+ volumes

[2020-11-20 05:25] #1 closed

[2020-11-20 11:35] GeekyCoder7 commented on #1
Yeah it is, I will upload the EFI for installation soon!

[2020-11-23 11:12] Hesham-Salama opened #2 "Brownish tint"
First I would like to thank you a ton for this EFI. Yours fit greatly my y50. Every working thing you mentioned is working for me.

But I noticed there is a brownish tint on the screen even when I used this EFI to boot Catalina OS. I tried display calibration in macOS but I feel there is still a bit of brownish tint.

Do you have this isuue?

[2020-11-23 11:28] GeekyCoder7 commented on #2
Hey @Hesham-Salama, I'm happy that the EFI is working for you.
No I don't have any brownish tint on my display.
It may be something related with your hardware, as you said that you had the issue with your previous EFI with Catalina.
However, you can also send me a picture of your screen with the tint, and I try to help you.
I'm going to close this issue as it is not related with the EFI.

[2020-11-23 11:29] Hesham-Salama commented on #2
No it's related to the EFI. I meant I used this EFI to boot Catalina too and it had this issue.

[2020-11-23 11:36] GeekyCoder7 commented on #2
@Hesham-Salama Do you have an external monitor?
If yes can you see the brownish tint on the external monitor?

[2020-11-23 12:11] Hesham-Salama commented on #2
No I don't have.

I set it to the native white point (6507) and it's def better but I still feel some brownish tint especially in white and black colors.

[2020-11-23 12:28] Hesham-Salama commented on #2
I set a color profile with native white point "Generic RGB Profile". And the brownish tint is gone. Thank you for help.

[2020-11-23 12:28] #2 closed

[2020-11-23 12:34] GeekyCoder7 commented on #2
Great 👍

[2020-11-27 14:45] akavkl opened #3 "Stuck at apple logo with no loading bar"

[2020-11-27 14:45] akavkl commented on #3
Is it for pre or post install?

[2020-11-27 14:46] GeekyCoder7 commented on #3
Post Install @akavkl

[2020-11-27 15:07] akavkl commented on #3
Doesn't boot with 10.15.7, stuck on apple logo and loading bar is missing

[2020-11-27 15:08] akavkl commented on #3
Thought of changing efi then update to big sir from os

[2020-11-27 15:24] GeekyCoder7 commented on #3
@akavkl I added PRE-EFI, please check in the repo.
It should work for you.
After installation, use the POST-EFI.
I'm closing this issue.
If the PRE-EFI doesn't work for you, I will reopen this issue and investigate the problem.

[2020-11-27 15:24] #3 closed

[2020-12-01 13:23] davesuriano opened #4 "Boot don't work"
I copy the EFI PRE in my usb bootable but nothing is happening. attached the log
[opencore-2020-12-01-122440.txt](https://github.com/GeekyCoder7/OpenCore-EFI-Lenovo-Y50-70/files/5622838/opencore-2020-12-01-122440.txt)

[2020-12-02 12:36] GeekyCoder7 commented on #4
You need to copy EFI-PRE in the EFI partition of your bootable usb.
Make sure you have 2 partitions on your USB, the EFI partition and the other partition created with "createinstallmedia" from "/Applications/Install\ macOS\ Big\ Sur.app/Contents/Resources/createinstallmedia".
If you need any guidance, follow this tutorial:
https://www.tonymacx86.com/threads/how-to-create-a-macos-big-sur-public-be

[2020-12-02 12:59] davesuriano commented on #4
Yes man, I create two partition. 1) EFI and 2) with terminal
I have clover with Mojave..
was the .txt file useful?

[2020-12-02 13:10] GeekyCoder7 commented on #4
It is crashing on message "[EB|LOG:EXITBS:START]".
I will investigate and let you know.

[2020-12-02 13:13] davesuriano commented on #4
Yes at that point it no longer works.
can it be the image of Big sur on the second partition?

[2020-12-02 13:19] GeekyCoder7 commented on #4
I don't think so. It may be caused from the drivers or OpenCore itself.

[2020-12-02 13:21] davesuriano commented on #4
I have nVidia GTX 960M .. maybe you need to change the file config. but strange.  it works for you and it doesn't work for me

[2020-12-02 13:23] GeekyCoder7 commented on #4
It doesn't matter. Nvidia GPUs are not supported both cases for 860m or 960m.

[2020-12-02 13:24] davesuriano commented on #4
Yes, right.  or add more files in the ACPI folder

[2020-12-03 09:58] davesuriano commented on #4
man, have you solved?

[2020-12-03 10:33] davesuriano commented on #4
okay thanks. which symbios do I put? imac?

[2020-12-03 10:36] GeekyCoder7 commented on #4
MacBookPro11,1 if you have Lenovo Y50-70

[2020-12-03 10:41] davesuriano commented on #4
okay i left macbookpro 11.1 of your efi file. it doesn't matter that there is a serial number with many zeros.
anyway I get this.
![IMG_1346](https://user-images.githubusercontent.com/56489074/100998899-64d6e380-355c-11eb-82a4-dbbe17bd9ad3.jpg)

[2020-12-03 10:50] GeekyCoder7 commented on #4
Check now please

[2020-12-03 11:28] #4 closed

[2020-12-04 10:06] davesuriano opened #5 "Dual Boot and Gestures"
Hi man.
Post EFI works all, but dual boot not. OpenCore don't see windows's second partion
And then there isn't multigestures of trackpad :/

[2020-12-04 10:42] GeekyCoder7 commented on #5
For Dual boot:
If you have Microsoft folder in your EFI, you need to add manually into your config.plist like this:
Misc -> BlessOverride -> \EFI\Microsoft\Boot\bootmgfw.efi
I am not adding in the config.plist, because it may cause issues for those not having windows installed on their machine or bootmgfw.efi is in another directory.

For multi-gestures you can try changing VoodooPS2Controller.kex

[2020-12-04 10:42] #5 closed

[2020-12-09 21:54] breadcask opened #6 "Internal UHD Display don't work"
Internal UHD display doesn't work with Config-UHD.plist. After the apple logo, Internal display turn black, external display works well. But it works with PRE-EFI.

[2020-12-09 21:57] GeekyCoder7 commented on #6
Thank you for opening the issue. Can you try the Config.plist instead of Config-UHD.plist?
Let me know what happens.

[2020-12-10 04:27] breadcask commented on #6
I try Config.plist but the internal display doesn't work too. Just like the Config-UHD.plist.

[2020-12-10 10:32] GeekyCoder7 commented on #6
I will investigate and fix the problem. Although it is hard for me to test, because I have SHD and not UHD.
Will try my best and fix it.

[2020-12-10 10:49] breadcask commented on #6
Thank you for your working, I will help you testing and give you feedfack.

[2020-12-10 14:44] SaxMachine opened #7 "Pre-Installation EFI"
Hi,

thanks for your work.
I have forked to my Repo...looks like the same but is a pleasure collaborate.
In pre-installation you have to change on SMBIOS MacBookPro11,1 to 13,1 because is no longer support on BigSur

Regards

[2020-12-10 14:56] GeekyCoder7 commented on #7
Heyy man, can you explain why? Changing SMBIOS is risky.

[2020-12-10 15:03] SaxMachine commented on #7
Is not a risky on pre-installation.
With MacBookPro11,1 parameter I got system error no longer supported by Apple!
From Dortania GitHub:
"A supported SMBIOS
Big Sur dropped a few Ivy Bridge and Haswell based SMBIOS from macOS, so see below that yours wasn't dropped:
"

[2020-12-10 15:11] GeekyCoder7 commented on #7
Okay man thanks, will change it asap 😃

[2020-12-10 15:18] SaxMachine commented on #7
If you like we can cooperate!
The UHD Config.plist have something wrong, in my case I received an:
OC Configuration error and black screen.
I'm still under investigating.

[2020-12-10 15:37] GeekyCoder7 commented on #7
Yeah sure any help is appreciated man!

[2020-12-10 17:34] #7 closed

[2020-12-11 05:55] miwelomali commented on #6
Hi, I also can't boot POST EFI with Y50 UHD, the pre works, but when you change the PRE to POST it fails, I used mount EFI to place the POST and replaced the name of UHD CONFIG to config, and it didn't work, hope that you can find the answer, I'll try to post the error image7

[2020-12-11 06:07] miwelomali commented on #6
one of the errors is:  OCS: Falled to calculate size of false field containing empty as type Integer, context <Playchime>

[2020-12-11 06:16] GeekyCoder7 commented on #6
Thank you for the information, I am currently investigating the problem. Will fix it hopefully.

[2020-12-11 06:35] miwelomali commented on #6
this happens when I run OC-tool:
Checking for missing fields ...
NOTE:   found fields missing from config.plist

        Booter > Quirks  >  AllowRelocationBlock : <bool>false
        Misc > Security  >  BlacklistAppleUpdate : <bool>true
        UEFI > Audio  >  PlayChime : <string>Auto
        UEFI >   > ReservedMemory Address : <integer>569344
        UEFI >   > ReservedMemory Comment : <string>

[2020-12-11 06:35] miwelomali commented on #6
thank you, hope that you can find the error

[2020-12-11 08:29] GeekyCoder7 commented on #6
Can you check now please?

[2020-12-11 12:24] breadcask commented on #6
I try the latest Config-UHD.plist but the internal display still doesn't work.

[2020-12-11 16:32] breadcask commented on #6
It seems that the big sur doesn't support internal display with 4k 60fps. I edited the EDID to limit the panel to 48hz but it still did't work
The script to edit EDID here, [https://gist.github.com/xxxzc/032bf9eef2f217bc7d60f087e25555e1](url)

[2020-12-12 19:59] Destro706 commented on #6
Hi,

with these Framebuffer Settings I got the UHD Screen with your EFI (OC 0.6.4) fully working in Catalina:

<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>#disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>#framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>BgAmCg==</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,

[2020-12-12 22:00] miwelomali commented on #6
Could you please share the final EFI, I don't mind if it's not big sur, the only thing that I want is the external display to work UwU

[2020-12-12 23:02] breadcask commented on #6
I tried yout Framebuffer but it did not work in Big Sur. The internal display was totally black, system only detected my external display.

[2020-12-13 06:22] Destro706 commented on #6
Uploaded my EFI for you.
Seems to work only up to Catalina.
Be aware, I also deleted the wifi/bluetooth kexts, as I don't have the card.

Hope it works for you.

[2020-12-13 18:46] miwelomali commented on #6
Hi destro, I tried to boot with it, but it gets a black screen on boot, it doesn't even show me the partitions of open core

[2020-12-13 18:47] miwelomali commented on #6
sorry, I tried the config for the HD Model instead of the UHD model, let me se if it works now

[2020-12-13 18:52] GeekyCoder7 commented on #6
@miwelomali if you want you can make a pull request and I can approve the changes so it will fix the UHD problems.

[2020-12-13 19:47] miwelomali commented on #6
I used the Destro fork and still didn't work is not the pull request that would fix it dough

[2020-12-13 19:49] miwelomali commented on #6
I have a wifi/bluetoth dongle, don't mind, but still, I replace the UHD plist that you commited, but, It still shows only a black screen. It doesn't even show an error of OC, just keeps in black screen, I also tried to use an external display, but still, it doesn't change whatsoever

[2020-12-13 19:50] miwelomali commented on #6
I even deleted the framebuffer and change the parameters, but still, nothing

[2020-12-13 21:03] Destro706 commented on #6
@miwelomali can you try this EFI: https://github.com/Destro706/OpenCore-EFI-LenovoY50-70-UHD

I needed to boot the debug version of OC 0.6.4 first (coming from 0.6.3), then reset nvram and then went to release version to make it work on my machine.
I uploaded now my whole working EFI Folder (also reverted the fix I did for my Screen for the glitches in case it doesn't work for you).
Hope it works

[2020-12-13 21:17] miwelomali commented on #6
I got the SaxMachine Repo and Changed with your previous values, It boots, but the screen glitches AF and the HDMI doesn't work, I'll try your new EFI, I'll let you now if it works, thank you in advance, i'm kind of new into the hackintosh escene.

[2020-12-13 21:23] miwelomali commented on #6
I got it working, but the screen still glitches <SadMachine>

[2020-12-13 22:02] miwelomali commented on #6
I updated to OC 0.6.4, but it still glitches the screen and even shutdowns, could you please help me with the glitches please

[2020-12-13 22:19] miwelomali commented on #6
I added framebuffer-flags AgAAAA==

and changed framebuffer-cursormem AAAAAA==

The cursor works, but the display glitches UwU

[2020-12-13 22:43] 861 opened #8 "Y70-70 boot loop"
Hi,

Thanks for your nice work.
I am using Y70 which is the same as Y50 except the screen size. I have no issue when using Y50 Clover EFI for Catalina. The problem is the system will restart several times (may be 10 )like a boot loop, then have a chance to work properly.

System will shows:
Panic Medic Boot:
A third party kernel extension was preventing the machine from successfully booting......

[2020-12-14 00:29] Destro706 commented on #6
Did you set the dvmt-prealloc to 128mb? You need a modded BIOS or a BIOS Version < 1.14 + Uefi Shell to do this.
This is mandatory for the uhd version to work.

[2020-12-14 00:35] miwelomali commented on #6
I could modify the UEFI Shell by the uefi shell that op menu offers, but I don't now how to change the retail to a modded bios

[2020-12-14 00:53] miwelomali commented on #6
could you please send me a tutorial of how to do it via the  UEFI shell, I don't know if there's any bios changer technician that modifies the Lenovo BIOS for now

[2020-12-14 05:35] Destro706 commented on #6
No, Sorry. I didn‘t mod my BIOS. I used the UEFI Shell mod.
Look into this Guide:
https://www.tonymacx86.com/threads/guide-lenovo-y50-uhd-or-1080p-using-clover-uefi.261723/

The Uefi Shell of the OC picker won‘t work as it doesn‘t have the setup_var command.
If I remember right, you should find the Uefi Shell you need in this Tutorial.

[2020-12-14 08:24] GeekyCoder7 commented on #8
This EFI is designed for Lenovo Y50-70. The hardware of Y50-70 and Y70-70 are not the same of course. You may need some changes. I can help you with it.
Whats your iGPU? I believe it's not Intel HD 4600, must be something newer I guess.

[2020-12-15 11:44] Destro706 commented on #6
@GeekyCoder7
As I had a little time these days, I installed Big Sur to a separate partition to check your config-uhd one more time.
I figured out, if I delete the EDID of your framebuffer settings, the Screen Works for Catalina. Still not working in Big Sur though.

If I keep this EDID override, I get the same „grey Screen“ in Catalina and Big Sur (only backlight of Screen works).
Your EDID Value

[2020-12-15 20:53] eXcalibre commented on #6
I have managed to get Big Sur working, but only on HDMI port with just a backlit main screen.
I needed to mirror screens once I managed to log in, so I can at least use the system again.
Appreciate the time and effort people are putting in to this to find a fix.

[2020-12-17 20:55] breadcask commented on #6
Hey guys, the latest commit of WhateverGreen solved this problem, [Add documentation for max pixel clock override (#80)](https://github.com/acidanthera/WhateverGreen/commit/978cb8c7a744ac189074225fd8eb2f16feb5a4c0), just delete the EDID than add -igfxmpc in boot-args. I tested for while, it works perfect.

[2020-12-18 08:16] Destro706 commented on #6
Thx a lot. Just builded and tested. Works great

[2020-12-18 14:19] 861 commented on #8
There are two GPUs. one is GTX 860M. The other one is HD4600

[2020-12-19 03:42] #6 closed

[2020-12-19 06:39] Destro706 commented on #8
As I have the Y50-70 UHD, so I don't know if it helps for you.
I don't have the Broadcom card (Wifi/Bluetooth) of this Repo added to my machine, so I needed to delete the corresponding kexts (don't forget to remove them from config.plist).
Otherwise I ended up boot looping.

[2020-12-21 11:24] holygeek00 opened #9 "Internal UHD Display still don't work"
I have tried many ways to slove my problem,but it still dodn't work. I face up with as the same problem as @breadcask,but I have tried to add -igfxmpc in boot-args, I tested for a while, it didn't work at all.

[2020-12-21 12:53] eXcalibre commented on #9
I believe you need to wait for a new version of the WhateverGreen kext to be built
Or build it yourself from the code (I have tried but failed as  am a noob to building xcode).

I understand that the -igfxmpc will not work until WhateverGreen is recompiled.
If i am wrong, then apologies.

[2020-12-22 14:27] breadcask commented on #9
It's the latest build of WhateverGreen, you can try it.
[WhateverGreen-1.4.6-RELEASE.zip](https://github.com/GeekyCoder7/OpenCore-EFI-Lenovo-Y50-70/files/5730341/WhateverGreen-1.4.6-RELEASE.zip)

[2020-12-22 17:55] eXcalibre commented on #9
Thanks breadcask. I could only see the 1.4.5 version on the site.
So thanks for this version.

[2020-12-23 06:24] holygeek00 commented on #9
I have test this files，but it still don’t work, thank you as the same.

[2020-12-23 06:28] holygeek00 commented on #9
I tested the latest version, but it still has no effect  (T_T)

[2020-12-23 06:36] holygeek00 commented on #9
Computer Configuration：

- i7 4720HQ
- GTX960M
- 16GB DDR3L
- UHD

[2020-12-23 06:39] Destro706 commented on #9
I uploaded my EFI over here:

https://github.com/Destro706/Opencore_Lenovo_Y50-70_UHD

It‘s with the latest Whatevergreen.kext and should work for you.

Hope it helps to get your machine up running.

[2020-12-23 08:45] holygeek00 commented on #9
I have used the EFI compressed file you provided, only after using the config-UHDfix.plist in POST-EFI and clearing the NVRAM, I successfully booted it once, and then it can’t boot. I found that only the EFI of GeekyCoder7 can be booted and Bluetooth with other devices  works fine, except that the built-in screen cannot work. And through inspection, I found that your config.plist file has many dif

[2020-12-23 08:55] Destro706 commented on #9
Yes, they differ.

For your Screen to work, you should only need to delete the EDID entry, and add the boot-arg mentioned before. Also, don‘t forget to copy the new Whatevergreen.kext to your kext folder. Then it should work.

My Config.plist differs in that points:
- made the changes I mentioned
- I deleted the kexts for Bluetooth and Wifi (the files and in the config), as I don‘t have the card a

[2020-12-23 09:00] holygeek00 commented on #9
I really want to konw where is the EDID entry,and how can I delete it?

[2020-12-23 11:38] GeekyCoder7 commented on #8
@861 did you remove or edit anything from the EFI?
Try to add -v in boot-args to operate in verbose mode.
By doing this we should see the errors and try to fix the bootloop for you.

[2020-12-23 11:46] GeekyCoder7 commented on #9
@holygeek00 can you try my new Config-UHD.plist?
I updated all the kexts and updated OpenCore to 0.6.4

[2020-12-23 12:21] Destro706 commented on #9
This:
<key>#AAPL00,override-no-connect</key>

and the following data line is the EDID.

[2020-12-23 12:44] akavkl opened #10 "Dualboot with windows doesn't seem to work"
previous version worked just fine in dualboot, but this version doesn't seem to detect windows.(even configuring with easyuefi doesn't seem to fix it, which worked on previous version)
And the keyboard shortcuts are messed up, eg- alt+c,v,space etc.

[2020-12-23 12:53] holygeek00 commented on #9
After my continuous attempts, I finally succeeded. Thanks for everyone's help. After trying many methods, I found that using @GeekyCoder7 ‘s config-UHD-DualBoot.plist file and the @Destro706 ’s  method can drive my screen successfully.
Here are the config.plist file I use now.

[Config.zip](https://github.com/GeekyCoder7/OpenCore-EFI-Lenovo-Y50-70/files/5735234/Config.zip)

[2020-12-23 12:56] akavkl commented on #10
ok, so cmd is now windows key

[2020-12-23 12:58] holygeek00 commented on #9
Thank you a lot ！

[2020-12-23 13:07] #9 closed

[2020-12-23 13:20] GeekyCoder7 commented on #10
Yes for this one, read the last note in the Readme. I wrote how to change the command to alt like before.
Regarding the dualboot I think with 0.6.4, you need to enter an entry in Misc->Entries.
I'm not sure though. I will try to fix my dual boot setup too and push the fix here.

[2020-12-23 13:58] GeekyCoder7 commented on #10
Check the instructions on the updated README!

[2020-12-23 13:58] #10 closed

[2020-12-24 03:09] 861 commented on #8
Hi Thanks for your reply.
Did you delete BrcmFirmwareData.kext?

[2020-12-24 03:23] 861 commented on #8
Thank you.

I have attached  the photos for each restart.
![1](https://user-images.githubusercontent.com/7991297/103057324-c50de380-4564-11eb-84e5-409ba4bf6584.jpg)
![2](https://user-images.githubusercontent.com/7991297/103057362-e242b200-4564-11eb-8267-80d8e7c3056e.jpg)
![3](https://user-images.githubusercontent.com/7991297/103057414-069e8e80-4565-11eb-8dc0-74b998c38ceb.jpg)
![4](https://user-ima

[2020-12-24 10:15] GeekyCoder7 commented on #8
If you don't have a compatible wifi/bluetooth card you need to remove the following from your config.plist and delete the files as well:
- BrcmBluetoothInjector.kext
- BrcmFirmwareData.kext
- BrcmPatchRAM3.kext

If you don't know how to remove them from your config.plist you can download  [OpenCore Configurator](https://mackie100projects.altervista.org/download-opencore-configurator) (OCC), load y

[2020-12-24 10:19] #8 closed

[2021-01-01 00:07] xtvj opened #11 "Can you drive Ethernet?"
Can’t drive Ethernet on Big Sur.
I searched the Internet for a long time, but I didn’t find the RealtekRTL8111 driver for Big Sur.
Is there a way to use Ethernet on Big Sur?

[2021-01-02 09:50] GeekyCoder7 commented on #11
Hi there, I will try to fix this issue for you, but as I have a compatible network card (Broadcom BCM94352Z), I didn't try the ethernet on Big Sur.
Will update you and the repo once I fix the Ethernet issue.

[2021-01-02 10:44] davesuriano commented on #11
everything works for me

[2021-01-02 10:47] GeekyCoder7 commented on #11
Reportedly, RealtekRTL8111.kext is working on Big Sur. Not confirmed by the developer on his [repo](https://github.com/Mieze/RTL8111_driver_for_OS_X). Please make sure your ethernet port is working. You can check on your windows. I'll close this issue, because it is something related to the kext and I can't do anything about it. I'll update everything as soon as the developer of the kext updates s

[2021-01-02 10:47] #11 closed

[2021-01-02 12:01] xtvj commented on #11
Thank you for troubleshooting.
I checked the system report, the driver is loaded but the Ethernet is not working. After reading your reply, I went to the RealtekRTL8111.kext address to check Issues and found that the lower version of RealtekRTL8111.kext may be work, and now the 2.0.0 version has solved my problem.
thank you very much.

[2021-01-04 16:33] Blkackkk opened #12 "iMessage & FaceTime won't work"
When I try to log in to Messages and FaceTime, messages interface is showing up for 5-6 seconds, after that is closing and again log in window is present. I have done all of possible fixes, tutorials.... Some ideas?
Also it would be great to enable build in card reader.

Anyway great job! You are awesome!

[2021-01-04 16:35] davesuriano commented on #12
Yes, me too.

[2021-01-04 16:40] GeekyCoder7 commented on #12
Hey @Blkackkk and @davesuriano, I am currently working on the card reader. The possible kext's name is Sinetek-rtsx but it is not stable and may cause boot issues such as kernel panics, etc. It will also block the sleep/wake feature, which I use a lot.
Regarding the iMessage and FaceTime, I will investigate the issue and update you.
And thank you so much for the kind words!

[2021-01-04 17:35] GeekyCoder7 commented on #12
In order to fix iMessage and FaceTime issue, first grab the newest EFI.
Then you need to do the following:
1. Generate a new Serial with GenSMBIOS
2. Verify your NVRAM as it is crucial for iMessage to work
- Restart your laptop and select NVRAM option from OpenCore at boot. It will restart your laptop. You can boot to Big Sur after resetting.
- After booting, open terminal and write the following:

[2021-01-04 19:59] Blkackkk commented on #12
I done this before, and still the same effect. App Store and all of the iServices work perfectly, only messages and facetime are broken

[2021-01-04 21:17] GeekyCoder7 commented on #12
Try fixing en0 with Hackintool:
1. Download [Hackintool](https://github.com/headkaze/Hackintool)
2. Go to System -> Peripherals. In the Network section, look for en0 under BSD and check whether the device has a check mark under Builtin. If there is a check mark ignore this method. If not continue with step 3.
3. In order to reset the network interfaces do the following:
[code]
4. Reboot and it sho

[2021-01-05 00:10] daphyta opened #13 "Black screen"
I get a black screen at the login prompt when i use the POST EFI. Any help would be appreciated. I have your exact PC configuration. Thanks

[2021-01-05 01:56] GeekyCoder7 commented on #13
@daphyta was using the FHD EFI instead of UHD.
I'm closing this issue.

[2021-01-05 01:56] #13 closed

[2021-01-06 19:56] fougiama opened #14 "Glitch / Screen Flickering after installation"
Hello, I've done the installation of "Big Sur" on Lenovo Y50-70 (i7 4720HQ /Graphics Nvidia 960M/Intel HD4600, 1920x1080) but I have some gitch on the screen as you can see on the video.

https://user-images.githubusercontent.com/76621349/103814167-8b0f0800-5061-11eb-9ad5-5ffc057f1e2a.mov

There was a time when I had the same problem on Clover with Catalina, I had to change the reference of the pl

[2021-01-07 05:50] GeekyCoder7 commented on #14
Hello @fougiama, I think you are the only one having this issue. Anyways, can you tell me exactly what you did when you had this issue on Clover? Maybe I can a make a custom config.plist for you only.

[2021-01-07 06:52] GeekyCoder7 commented on #14
@fougiama can you try the new [Config-4720HQ](https://github.com/GeekyCoder7/OpenCore-EFI-Lenovo-Y50-70/commit/7b8b22899a581149c4b6dcfdfb14bd15dece35e3)? Just make sure to remove the current config.plist and rename this new config to config.plist.
Let me know if it works for you.

[2021-01-07 08:23] fougiama commented on #14
Merci beaucoup à toi de prendre de ton temps pour trouver des solutions. C'est extrêmement gentil.
Si mes souvenirs sont bons, lorsque j'étais sous Clover et Catalina, j'avais dû changer ig-platform-id pour faire disparaître les glitchs.

Par exemple avec le POST EFI : Il y a des glitchs et voici les infos
![POST EFI](https://user-images.githubusercontent.com/76621349/103868959-f096df00-50c9-11eb-

[2021-01-07 10:33] davesuriano commented on #12
unfortunately it is a server problem. with another apple id my hackintosh imessage works

[2021-01-07 21:18] ezesolares opened #15 "Connecting 2nd monitor not working"
Hello.

I just reinstalled MacOS with your 0.6.5 OC but im having issues with my 2nd monitor.

if i use the normal config.plist, the 2nd monitor is not detected and is like is not there
if i use the Config-4720HQ.plist, as soon as i connect the hdmi cable, it reboot my laptop.

I have a FullHD Lenovo y50-70.

I installed first 15.0.1 then updated to 15.1, and thats all the changes i made.
i also d

[2021-01-07 21:35] GeekyCoder7 commented on #15
Hello @ezesolares , the 4720hq config might not work properly, because my cpu is 4710hq, and I can't test.
Your 2nd monitor was working fine before the update?

[2021-01-07 23:26] ezesolares commented on #15
it was working fine on the 0.6.3 version of your EFI but i decided to reinstall everything for the 0.6.5.... i didn't try my 2nd monitor before updating from 15.0.1 to 15.1 tho.

[2021-01-08 00:01] GeekyCoder7 commented on #15
@ezesolares Please grab the newest EFI and generate new SMBIOS or keep your config.plist just change SMBIOS to MacBookPro11,4 and generate a new SMBIOS.

[2021-01-08 00:01] #15 closed

[2021-01-08 15:20] ubayebx opened #16 "Bootlop"
Hi, im following your instruction on my laptop using opencore, same laptop as you.

but until now im still getting bootloop, when i boot to MacOS install, it just show an apple logo and didn't do anything, do you know why ?

is it because i didn't connect LAN Cable for network or something ?

[2021-01-08 15:23] GeekyCoder7 commented on #16
@ubayebx You should use PRE-EFI as your EFI during installation. PRE-EFI should work for you without any problem.
Anyways, you can add -v as boot argument in boot-args, and you can see whats your problem.
Send me the message you are getting during boot.

[2021-01-08 15:34] ubayebx commented on #16
Im forget to add -v but here the result when i use PRE-EFI![image](https://user-images.githubusercontent.com/17410794/104033064-9d27ac80-5201-11eb-9c51-a065f2f25071.jpeg)

[2021-01-08 15:37] davesuriano commented on #16
you have to change SMBIOS in Macbook Pro 11,2. With another mac follow the guide of @GeekyCoder7

[2021-01-08 15:46] ubayebx commented on #16
How can i change while in boot menu. ?

Because now im stuck at boot menu 😅

![image](https://user-images.githubusercontent.com/17410794/104034295-47540400-5203-11eb-8f61-b8427c4d8a36.jpeg)

[2021-01-08 15:53] GeekyCoder7 commented on #16
Boot to windows if you have windows installed.
Remember that you need to add pre-efi to your usb and boot from usb in order to install Big Sur.
I hope you didn't modify the efi partition on your hard disk.
If not open boot menu during boot by pressing f10 or f12 depending on your bios. Try both just in case.
If you don't have access to your windows, use another laptop to mount efi and edit smbios.

[2021-01-08 16:10] ubayebx commented on #16
I don't have access to windows 😭.

Well i think i should mount efi and edit smbios later on my PC, i will inform you later

[2021-01-08 16:13] GeekyCoder7 commented on #16
Okayy. I'm going to close this issue. If you try and you still cant install, reopen this issue and give me information about it.

[2021-01-08 16:13] #16 closed

[2021-01-09 02:41] ubayebx commented on #16
Finally it's done, thank you sir 😁

[2021-01-10 13:45] GeekyCoder7 commented on #12
The last solution is to contact apple. Most probably there are restrictions on your account. You can call them to fix it.

[2021-01-10 13:45] #12 closed

[2021-01-10 17:08] ubayebx commented on #16
hi im back again, yesterday i decided to keep on mojave, i already fix the boot problem but still not update to big sur, now i do the same as you say to put the PRE-EFI first and when i update it will always stuck when 12 minutes remaining update and get to restart to boot installer again, and i send you the report when i update using opencore
[opencore-2021-01-10-162305.txt](https://github.com/Ge

[2021-01-10 17:35] GeekyCoder7 commented on #16
Will update you with a fix man.

[2021-01-11 07:00] GeekyCoder7 commented on #16
Try using smbios MacBookPro11,1 and keep me updated.

[2021-01-11 07:13] GeekyCoder7 commented on #14
@fougiama Please try using config.plist but try to remove AAPL,ig-platform-id from your config.plist file.

[2021-01-11 08:49] fougiama commented on #14
Hello,

I have just tried removing the AAPL,ig-platform-id line. But I have an error at startup. It goes off before launch.

I also tried to put the AAPL,ig-platform-id of PRE EFI on the config.plist of the POST EFI but it remains stuck on the apple.

[2021-01-11 09:17] ubayebx commented on #16
I already try to use SMBIOS MacBookPro 11.3 , 11,4

I will try 11.1 and 11.2 tonight, i will update if anything change

[2021-01-11 09:39] fougiama commented on #14
The strange thing is that as soon as I change a value in AAPL,ig-platform-id the computer does not start.

For example with 0300220D which is the PRE EFI value (with no glitch on the screen) the computer won't start.

Maybe changing only this value is not enough.

[2021-01-11 15:41] ubayebx commented on #16
Still get this error man, i already change SMBIOS to 11.1 and 11.2, dunno why

![image](https://user-images.githubusercontent.com/17410794/104202823-fd1a8f00-545d-11eb-8435-50b707fb34a5.jpeg)

[2021-01-12 08:46] GeekyCoder7 commented on #14
Yes the hdmi works fine. The problem is with iGPU, in deviceproperties section.
I am still investigating your glitch problem :(

[2021-01-12 08:50] GeekyCoder7 commented on #16
Hey man, are you trying to update on the existing hackintosh?
It is recommended to make a clean installation.

[2021-01-12 10:09] fougiama commented on #14
I just tested a re-installation of catalina to see if the screen works. I confirm it works well (but I prefer to keep Big Sur, your work is incredible on it). I give you Catalina's Config.plist (I removed the info from the SMSBIOS). Maybe the solution is in this file ? Thanks a lot for all your work.

[config.plist.zip](https://github.com/GeekyCoder7/OpenCore-EFI-Lenovo-Y50-70/files/5801246/config

[2021-01-12 10:17] GeekyCoder7 commented on #14
This is a clover config. With this config you don't have glitches anymore right?

[2021-01-12 10:22] fougiama commented on #14
Exactly, to avoid glitches I had changed the ig platform id and it worked.

[2021-01-12 10:26] fougiama commented on #14
J'obtiens ces information là

![Capture d’écran 2021-01-12 à 11 26 04](https://user-images.githubusercontent.com/76621349/104302377-fe34d600-54c8-11eb-924f-24ba0b3e0cff.png)

[2021-01-12 10:28] GeekyCoder7 commented on #14
It is kind of weird because the platform-id in your clover config and my OC config is the same (0600260A).

[2021-01-12 10:38] fougiama commented on #14
then I don't understand where the problem can come from... Yet I have not changed anything, neither in the bios, nor elsewhere. Here is the EFI but I'm not sure it will help.

https://www.sendspace.com/file/9gqzu7

[2021-01-12 10:53] ubayebx commented on #16
Yes i do update from exiting hackintosh, maybe that the problem, i will try clean install then, i need to backup data first to my hdd

[2021-01-12 10:53] GeekyCoder7 commented on #14
I updated the POST-EFI and added config1.plist. Can you try that configuration file?
Make sure to rename to config.plist before restarting.
Let me know if it solves your problem.

[2021-01-12 10:57] fougiama commented on #14
ok, I'll reinstall everything and tell you what it looks like with this new file. Thank you very much. verdict in 40 minutes lol

[2021-01-12 10:58] GeekyCoder7 commented on #14
If you have bigsur installed no need to reinstall.
Just mount the efi and change the config file.

[2021-01-12 11:01] fougiama commented on #14
Yes, but I reinstalled Catalina to test and find the right IG platform... I'm making the Big Sur key, it should be quick.

[2021-01-12 13:11] fougiama commented on #14
I have just redone all the installation... And... Still Glitches. It's really incredible because during the whole installation with the PRE EFI the screen has no Glitch. But as soon as I switch to the POST EFI it comes back.

[2021-01-12 13:59] ubayebx commented on #16
I already do clean install but still get the error man, while 12-2 minutes remaining update it always reboot again to boot menu 😔

[2021-01-12 14:18] ubayebx commented on #16
This is the last ![image](https://user-images.githubusercontent.com/17410794/104325813-9a87c880-551b-11eb-8f0e-1f699986be12.jpeg)report during installation

[2021-01-12 15:28] ubayebx commented on #16
Hey man 😅 @GeekyCoder7, after clean install so many times, i think 10x trial it suddenly works, i don't know why 🙃.

![image](https://user-images.githubusercontent.com/17410794/104334765-5a2d4800-5525-11eb-8753-d0219fa8ec21.jpeg)

Thank's for the guide man, appreciate that 😁

[2021-01-15 16:45] MMidor opened #17 "Some informations"
I had a problem with iMessage and I have find out that MacPro7,1 SMBIOS is fixing facetime & imessage problem.
Also Sinetek RTSX kext fixed my sd card reader which is working naw without any problems so far :D

[2021-01-15 16:50] MMidor commented on #17
On launch it prompted me to sign in, and when I did it, it displayed the iMessage interface without any chats for about 10-20 seconds, and after that new log in prompt was appearing (sorry for my bad english)

[2021-01-15 16:53] davesuriano commented on #17
Okay same error. Great I’ll try with that SMBIOS.

[2021-01-15 16:55] MMidor commented on #17
Let me know if that worked :D

[2021-01-16 13:19] davesuriano commented on #17
yes works, but I don't want something don't work. by chance have you tried with macbook 15.1 or similar?

[2021-01-19 11:29] davesuriano commented on #17
@GeekyCoder7 Man can you put this kext for those who have problems with imessage?

https://github.com/IOIIIO/MacProMemoryNotificationDisabler

[2021-01-19 15:11] MMidor commented on #17
I tried all of the smbioses, and only MacPro7,1 worked for me

[2021-01-19 15:39] MMidor commented on #17
This kext won't work on Big Sur, here you have memory fixup tutorial https://dortania.github.io/OpenCore-Post-Install/universal/memory.html#mapping-our-memory

[2021-01-19 15:42] davesuriano commented on #17
Mmh .. I tried yesterday but with no solution. Do you fix up ?

[2021-01-19 15:45] MMidor commented on #17
I'll try it today, if it doesn't work it's fine because it's just a visual bug and it doesn't have any effect on the overall performance

[2021-01-19 15:47] davesuriano commented on #17
Oh yes man but it's annoying ahah

[2021-01-21 09:39] davesuriano commented on #17
@MMidor Do you try man ?

[2021-01-21 12:24] MMidor commented on #17
Yeah, I tried but without any result.  I didn't have time to play around more because my disk died and I had to reinstall the system on a new one

[2021-01-24 15:20] davesuriano commented on #17
News man ?

[2021-01-25 14:49] Asrake opened #18 "UHD model sleep/wake problem"
`log show | grep "powerd"` indicate an error `powerd: [powerd:sleepWake] Failed to get sleep type. rc:0xe00002c7`
fans keep going on , after a while I can never recovery from sleep
`2021-01-25 22:24:36.902990+0800 0x26d      Activity    0xf0                 73     0    powerd: (CoreFoundation) Loading Preferences From System CFPrefsD
2021-01-25 22:24:36.914047+0800 0x26d      Activity    0xf1

[2021-01-25 19:45] atriscape opened #19 "2nd Monitor only working on FHD (Solved)"
Hello,

"Big Sur" on my Lenovo Y50-70 (i7 4710HQ /Graphics Nvidia 860M/Intel HD4600, FHD 1920x1080) is working amazingly good and without any issues. Thanks for doing such a great job and letting us participate.

I've connected a 2nd WQHD Monitor (Lenovo L27q // 2560x1440) to my Y50-70.
The Monitor is being recognized as LEN L27q-30 (30,5" 1920x1080) which is wrong of course.
I tried also to use S

[2021-01-28 19:41] atriscape commented on #19
Using the config.plist (UHD Version) works for the external display as well! Even if you got the FHD internal display you are able to use a WQHD / UHD external display.

[2021-02-04 18:32] GeekyCoder7 commented on #19
Okayy thank you very much for your kind words! I really appreciate it.
Sorry for responding late. I had a very busy week.
I'm glad that your problem is solved!

[2021-02-04 18:32] #19 closed

[2021-02-04 18:41] GeekyCoder7 commented on #14
Can you try the newest EFI?

[2021-02-04 18:58] GeekyCoder7 commented on #17
@MMidor Thank you for the information, and sorry for the late response. I had a busy week.
Can you tell me how did you make it work the sd card reader with Sinetek RTSX? I tried from this [repo](https://github.com/sinetek/Sinetek-rtsx) but it didn't work.

[2021-02-04 19:07] fougiama commented on #14
I just tested the new EFI with config.plist and the version Config-1.plist ! but, the glitches are still there. Thanks for letting me know that the EFI folder has been updated. I hope to find a solution to this problem one day.

[2021-02-04 21:15] GeekyCoder7 commented on #14
You can watch and star the repo. By doing these two, you will get notified by mail that the repo is updated.
I will do my best to help you with this problem!

[2021-02-06 12:18] MMidor commented on #17
I just installed the kext using Kext Droplet https://github.com/chris1111/Kext-Droplet/releases/tag/V2

[2021-02-08 17:20] fougiama commented on #14
Hello,

In order to find a solution, I did a clean installation of Mac OS Mojave (with Clover) by following a tutorial on the internet.As here, the screen is flickering.

The parry to make it stop was to change 2 lines in the config.plist (#ig-platform-id and ig-platform-id).  The original value was 0x0a260006, by changing the value of these 2 fields to 0x0a260000 I had no more screen problems. Wi

[2021-02-08 19:47] GeekyCoder7 commented on #17
Card support is now added
No need to use kext-droplet @MMidor
Thanks anyways!
Go check the EFI and enjoy! :)

[2021-02-08 19:47] #17 closed

[2021-02-08 20:41] akavkl opened #20 "OCB: StartImage Failed: no mapping"
happened after windows update, does anybody have any idea?

[2021-02-08 20:47] akavkl commented on #20
this is while trying to boot windows

[2021-02-08 20:47] GeekyCoder7 commented on #20
Can you boot to mac?

[2021-02-08 20:48] akavkl commented on #20
yes

[2021-02-08 20:48] GeekyCoder7 commented on #20
You should move `Windows` folder into `OC` folder, and change the directory of the bootmgfw from config.plist. See [this](https://github.com/GeekyCoder7/OpenCore-EFI-Lenovo-Y50-70#for-dual-boot).
There were few changes in the OC 0.6.6 that made this issue.
I updated the dual boot guide after updating to 0.6.6
Let me know if it works!

[2021-02-08 20:51] akavkl commented on #20
yes its inside OC folder and address is already corrected
I updated opencore first, booted to windows via opencore efi, updated windows and now stuck

[2021-02-08 20:56] GeekyCoder7 commented on #20
Can you try with the latest efi, that i created half hour ago?

[2021-02-08 20:59] GeekyCoder7 commented on #20
If it doesnt work, try adding a custom scanning path through bless model "\EFI\OC\Microsoft\Boot\bootmgfw.efi".

[2021-02-08 21:09] akavkl commented on #20
Well Mac is still working so....
I'll do it in morning, 02:39 here

[2021-02-09 07:40] akavkl commented on #20
ok got whats causing the issue,
with windows update, changes were made to microsoft efi and in windows's case it's default location is EFI/Microsoft, which doesn't corresponds to actual location which is inside OC, so updated files where placed in EFI/Microsoft not EFI/OC/Microsoft

[2021-02-09 08:57] GeekyCoder7 commented on #20
Ohh okayy man. Thank you for this issue. I will try some workaround so that we put Microsoft folder in EFI and not in OC.

[2021-02-09 09:09] GeekyCoder7 commented on #20
@akavkl I updated the readme for the repo.
[code]

[2021-02-09 09:09] #20 closed

[2021-02-09 13:07] akavkl commented on #20
ok my workaround is, BACKUP FIRST
keep microsoft folder outside of OC, like how it was and in config.plist with necessary change accordingly. Reboot and clear NVRAM, it will directly you to boot to windows. Now in windows, install easyuefi or any similar software, from there add opencore's boot i.e. EFI/boot/BOOTX64.efi and move it to the top (boot priority order), then reboot, now your opencore e

[2021-02-15 09:05] GeekyCoder7 commented on #18
@Asrake please try the instructions from this [link](https://dortania.github.io/OpenCore-Post-Install/universal/sleep.html#preparations).
If one of the instructions from the link below fix your problem, please mention which one.

[2021-02-15 17:54] akavkl opened #21 "Keeping Microsoft folder outside OC"
Moving Microsoft folder inside OC can cause BCD to break, and fixing that is bit tedious, so it is better to keep Microsoft folder outside.
Only MacOS requires NVRAM reset, Windows doesn't, so clearing NVRAM from OC is not the best option as it also effects windows causing BCD to break (probability of that happening is low but not zero), and enforcing boot to Windows as windows laptop's UEFI is ma

[2021-02-19 11:22] EmreRed opened #22 "4K Monitor Problem"
Hello,
I'm using a 4k monitor but i can't get 4k resolution with Config.plist. When I use Config-UHD.plist, hardware acceleration does not work and applications are not displayed correctly.
How can I find a solution?

[2021-03-06 02:08] ubayebx opened #23 "Bluetooth issues"
hey man, after a long day i decide to change my network card using Broadcom BCM94352Z, but i have some issues when i connected my bluetooth mouse logitech M337, it's kinda laggy sometimes, also when i connected to bluetooth speaker for playing music or youtube video, is that normal or what ?

[2021-03-06 08:42] davesuriano commented on #23
Maybe is normal. because it happens to me too
I don't know if it can be fixed

[2021-03-06 10:47] GeekyCoder7 commented on #23
I think its related to the broadcom card, because i have the same issue since i got the card.
Or maybe its related to the kext brcm, because i used both at the same time.

[2021-03-06 14:40] GeekyCoder7 commented on #14
@fougiama can you please try the newest efi and check if your problem is solved or not?

[2021-03-06 15:28] GeekyCoder7 commented on #21
Thank you for your comment. I updated the readme and made a better instructions for dual booting with windows!

[2021-03-06 15:28] #21 closed

[2021-03-06 15:30] GeekyCoder7 commented on #22
Can you check now please? This may be because of WhateverGreen and Lilu kexts.
I have updated in the newest efi. Please keep me updated.

[2021-03-06 16:13] emredv commented on #22
Thanks, Config.plist now supports 4k but hardware acceleration is still not working.

[2021-03-06 20:07] ubayebx commented on #23
So, there is no way to fix it :( ?, it's really annoying sometimes 😤

[2021-03-19 07:29] tsergry commented on #22
Hi!
Did you manage to solve the problem?
Android studio doesn't work for me but xcode works well.

[2021-03-19 07:38] emredv commented on #22
Hi, I couldn't find any solution

[2021-03-19 15:10] davesuriano commented on #23
Update.
if you use any usb dock, bluetooth gives problems. therefore the only remedy is to disconnect everything

[2021-03-19 17:53] ubayebx commented on #23
Im not using any usb dock, my mouse (logitech m337) didn't need additional usb stick to connect.

I tried to turn off the wifi, it fixed my problem, but now the problem is i can't use my internet while i connected to my mouse or my bluetooth speaker 🤣.

I have no problem with my trackpad, but you know sometimes i do some photo editing use Adobe Tools (which need some internet connetion too), it's

[2021-03-29 21:51] tsergry commented on #22
The following bios settings helped me:
video configuration / primary display      -   IGFX
video configuration / internal graphic device / igd-dvmt pre-allocated       -   96MB

[2021-03-29 22:10] GeekyCoder7 commented on #22
@emredv please confirm if this solution works for you.

[2021-03-31 13:47] emredv commented on #22
This menu does not have on my bios menu. Do I need to mod my bios?

[2021-04-05 05:35] tsergry commented on #22
Opened white list and hidden menus on this site:
https://www.techinferno.com/index.php?%2Fforums%2Ftopic%2F10022-lenovo-y50-70-unlocked-bios-menu-wlan-whitelist-mod-vbios-mod%2F

[2021-05-13 13:13] akavkl opened #24 "0.6.9 plist boot loop"
0.6.9 plist has some issue which is preventing laptop to boot to Mac.
I haven't pin pointed the cause yet, but will update you when something comes up

[2021-05-13 13:13] akavkl commented on #24
btw you can boot using 0.6.8's plist

[2021-05-13 22:06] GeekyCoder7 commented on #24
Thanks for the feedback. Please update me when something comes up.

[2021-05-22 12:24] EmreRed commented on #22
Thanks, when I set it this way it worked perfectly
video configuration / internal graphic device / igd-dvmt pre-allocated - 64MB

[2021-05-24 09:44] #22 closed

[2021-06-02 10:26] ijasstoor opened #25 "Nvdia gtx 860 in high sirraa"
How to enable nvdia in high siera

[2021-06-02 13:15] GeekyCoder7 commented on #25
I have never used High Sierra and please do not post anything out of topic. This repo is for Big Sur only.

[2021-06-02 13:15] #25 closed

[2021-06-08 09:59] GeekyCoder7 commented on #24
@akavkl can you please try the new config with OC 0.7.0?

[2021-06-08 13:10] GeekyCoder7 commented on #14
@fougiama can you please try the newest efi with OC 0.7.0?

[2021-07-07 11:29] Shad0walker7 opened #26 "HDMI and DUAL BOOT Windows not working"
I've installed Mojave with a opencore guide (Catalina and its 64bit only system give me some troubles with apps). Everything works, except 2 things : HDMI and DUAL BOOT

HDMI : not working, TV says no signal and audio preferences not showing me a HDMI audio output. Dual boot : i'm at last pass, add windows entry in Opencore configurator - Misc. I click ADD + , but browse button doesn't work.

I've

[2021-07-07 14:56] GeekyCoder7 commented on #26
Given that this repo is supporting only Big Sur installations and setup, I can't troubleshoot the problems you are encountering.
I will advise you to upgrade your system to BigSur if you have Lenovo Y50-70.
If OCC is not working for you, you can add Windows entry with a plist editor or the built-in text edit.
I will close this issue because this repo supports only BigSur problems.

[2021-07-07 14:56] #26 closed

[2021-07-10 09:34] Liu3l6 opened #27 "This EFI will not run on MacOS Monterey"
If inscribe

[2021-07-10 09:56] GeekyCoder7 commented on #27
@Liu3l6 this EFI only supports macOS Big Sur till now. Will add the support for Monterey in the future.

[2021-07-10 11:03] Liu3l6 commented on #27
So when will it support Monterey?

[2021-07-10 11:06] GeekyCoder7 commented on #27
I need to test and then update the repo.
It may need some testings and adjustments to the configuration so that it supports Monterey.
I can't give you an exact timeline because Monterey is in its early release stages, and it may cause problems for us.
I will check and update here.

[2021-07-28 16:46] ligo6 commented on #27
You can install the developer profile and update to version 12.0. Then write this EFI version to the USB flash drive (only for FHD). And so run several times. As soon as the system boot is successful, you can use the same loader that was used for big surf. As a result, Bluetooth does not work and DMG images are not mounted because of this, it is impossible to upgrade to beta 4.
[EFI.zip](https://g

[2021-07-28 18:10] IllusionaryD4ytime opened #29 "Y50-70(i5-4200h) issues"
Hi,thanks for your work.

I've tried these EFI on Y50-70(i5-4200h).
The PRE-EFI worked well,but after installation,it can't boot when I changed to the POST-EFI.

I add -v in boot-args,it shows something like "busy timeout(60s)" and "applekeystore operation failed".

I only did these changes:
https://github.com/GeekyCoder7/OpenCore-EFI-Lenovo-Y50-70/issues/8#issuecomment-750835805

[2021-07-29 13:54] GeekyCoder7 commented on #27
@Liu3l6 @ligo6  Monterey preliminary support added. The only known issue is the battery management.

[2021-07-29 13:54] #27 closed

[2021-07-29 13:58] GeekyCoder7 commented on #29
@IllusionaryD4ytime everything was okay before deleting brcm patches?

[2021-07-29 18:15] luhua98989898 commented on #29
i wan't ask a question,    my notbook is Lenovo y50-70  the CPU is I5 4210H.  install the Big Sur, the -V show the attempting system restart...   IOPlatformPanlcAction--->AppleAHCIDiskDriver
                            IOPlatformPanlcAction--->AppleSMC
                wait a few mins  the pc will restart, can't into the install       Why????

[2021-09-09 08:36] theMonk3y opened #30 "Y530 - HDMI video/audio with hotplug"
Can you explain about HDMI video/audio with hotplug ?
I have Y530 version with 1050 can I use HDMI?

[2021-09-21 14:21] GeekyCoder7 commented on #30
Hey @theMonk3y, sorry for the late reply. Yes, you can use HDMI, but 1050 is not supported with macOS. So for the HDMI, your integrated Intel graphics card is used. For example, my integrated graphics card is Intel HD Graphics 4600.
I hope I made things clear to you.

[2021-10-26 20:48] Lenox98 opened #31 "Monterey update: Your computer was restarted because of a problem"
Hi!
I use your EFI from the big sur update, now after the update to Monterey I've used your updated EFI, all works perfectly, only some slowdowns (I'm thinking of doing a clean install).

At the moment the only biggest problem is the message at the startup:

"Your computer was restarted because of a problem".

I've tried to clean nvram but nothing to do....

Any suggestions?

Thanks for you work!

[2021-10-28 06:21] frmeran opened #32 "Black screen UHD Monterey"
No matter how I try, I always get a black screen when trying to install Monterey on my Lenovo Y50 UHD (lcd upgraded, originally it had a FHD panel)

[2021-10-28 17:15] abdullahhhkeskinn opened #33 "Stuck at AAPL: #[EB|LOG:EXITBS:START] on boot"
Hi, I have been trying to create a hackintosh for the first time and I used your EFI to install Big Sur. However after selecting Install MacOS Big Sur I have stuck at this screen. I am leaving the txt file as an attachment. Glad if you can help. Thanks
[opencore-2021-10-28-200334.txt](https://github.com/GeekyCoder7/OpenCore-EFI-Lenovo-Y50-70/files/7436108/opencore-2021-10-28-200334.txt)

[2021-11-02 00:26] GeekyCoder7 commented on #33
Hey @abdullahhhkeskinn. I think [EB|LOG:EXITBS:START] error is related to brcm patches.
I'm sorry but I do not longer support Big Sur. I have migrated to Monterey a while ago. If you want you can use my latest package for monterey.

[2021-11-02 00:26] #33 closed

[2021-11-02 00:27] GeekyCoder7 commented on #32
Hey @frmeran, can you provide me with some logs at least? I don't have a UHD screen to test it.

[2021-11-02 00:28] GeekyCoder7 commented on #31
For the slowdown, it is recommended to have a clean installation for a hackintosh.
It should solve your problem.

[2021-11-02 00:33] GeekyCoder7 commented on #31
@Lenox98
For the problem, after the installation it may disappear, it may be caused by a crash report that did not clear itself, and it is stored in the NVRAM. If clearing NVRAM did not help try a clean installation.
Please update me here.

[2021-11-02 01:48] #14 closed

[2021-11-02 01:48] #18 closed

[2021-11-02 01:49] #23 closed

[2021-11-02 08:27] Lenox98 commented on #31
@GeekyCoder7  thanks, I have already tried to clean the NVRAM without any solution of the problem.
As soon as I have some time I'll try a clean install.
Thanks again!

[2021-11-06 19:35] JAGUSA commented on #29
Hi,thanks for your work.

Greetings , I installed Big Sur on my Lenovo Y50-70 and everything fine according to your instructions ,

I only have 2 problems to solve .

1 - The Config-UHD.plist does not work, the error I get when I boot the laptop is (OC: Driver HfsPlus.efi al 0 cannot be found!)
I checked the drivers in the post efi and I only have OpenHfsPlus.efi.
I need run the graphics on 4K !

[2021-11-09 07:25] onnedaay opened #34 "No wifi"
i have a Lenovo laptop model Y50
when i use the EFI the wifi adapter not work
i think i have Atheros AR9565 card why this diffrent from you?

i fix this problem back in BigSur by put these two Kexts: (HS80211Family.kext & AirPortAtheros40.kext),
but now in Monterey i try to add it, but the system will stuck and not boot
any help please?

[2021-11-10 07:58] #31 closed

[2021-11-10 08:43] GeekyCoder7 commented on #34
Hey @onnedaay, Atheros support for Monterey has been stopped as far as I know.
A solution for you can be to downgrade to BigSur or to change your network adapter, to Broadcom BCM94352Z.

[2021-11-10 08:43] #34 closed

[2021-11-10 08:52] GeekyCoder7 commented on #29
@JAGUSA thank you for reporting. I have hopefully fixed the driver issue with UHD config. Please check.
For the trackpad try using the ALPS-VoodooPS2Controller.kext, if VoodooPS2Controller.kext didn't work for you.

[2021-11-10 12:53] JAGUSA commented on #29
Thank you very much for helping me with this scare !

I checked the fix in ConfigUHF.plist that you did but it was in Monterey.
In Big Sur I don't see any change in the post efi with the ConfigUHD.plist !

The ConfigUHD.plist fix was only in Monterey ?

[2021-11-10 13:01] GeekyCoder7 commented on #29
Check now please. Forgot to fix both.

[2021-11-10 13:02] GeekyCoder7 commented on #29
@JAGUSA Check now please. Forgot to fix both.

[2021-11-20 19:18] frmeran commented on #32
Not able still to boot neither Monterey nor Big Sur, looks like everything but the internal screen works, My laptop had an 1080p panel that was switch for a 4k one (yes, it can be done with the appropiate flex cable) maybe that's causing the issue? Monterey wont write any log, but Big Sur yes, here they are.

[opencore-2021-11-20-132920.txt](https://github.com/GeekyCoder7/OpenCore-EFI-Lenovo-Y50-7

[2021-11-20 21:43] frmeran commented on #32
![20211120_174000](https://user-images.githubusercontent.com/19625777/142741714-844c5d44-b592-4bb8-ac31-3249a72c01b3.jpg)

[2021-11-22 11:40] GeekyCoder7 commented on #32
@frmeran I think the issue is kext related. Try removing all the additional kexts, and only keep the following kexts in your folder:
- Lilu.kext
- VirtualSMC.kext
- VoodooPS2Controller.kext
- WhateverGreen.kext

Also don't forget to update the config.plist file and update the kexts list there.
Keep me updated, and send logs again if needed.

[2021-11-22 18:22] frmeran commented on #32
Issue was kext indeed, I'm using monterey perfectly now. I just had to delete Brcmbluetoothinjector and BrcmPatchRAM3 from kext and config.plist everything working great so far.

[2021-11-23 00:38] GeekyCoder7 commented on #32
@frmeran Good to hear man!

[2021-11-23 00:38] #32 closed

[2021-11-28 19:11] myronmcm opened #35 "ALPS Driver missing"
The Alps Voodoo .kext is missing in the current version. Is this by design; is it no longer needed?

[2021-12-02 13:02] GeekyCoder7 commented on #35
@myronmcm  Thank you for informing me. ALPS Voodoo has been removed by mistake. I will add the kext asap.

[2021-12-02 13:08] #35 closed

[2021-12-06 06:52] ysjsgzq opened #36 "Configuration error"
![image](https://user-images.githubusercontent.com/16972323/144800774-8feecacb-655d-473f-b557-fe59e3764ec6.png)

[2021-12-06 14:46] JeeChan6 opened #37 "No Pre EFI files for BigSur"
Hi,

There are only KEXTS in that Pre folder. Could you please provide Config and other files please.

[2021-12-07 17:02] JeeChan6 opened #38 "Failed update to monterey with "a required firmware update could not be installed""
Bro,

Getting error as "a required firmware update could not be installed" during installation.  People have advised to update to 0.7.5 (https://www.tonymacx86.com/threads/a-required-firmware-update-could-not-be-installed.316570/page-3). I have tried but failed everytime. Could you please update the Pre-EFI for Monterey please.

[2021-12-07 17:26] JeeChan6 commented on #38
![PXL_20211207_172502749](https://user-images.githubusercontent.com/95633962/145077077-85c13138-e672-4ec4-8c43-56d83f7a7bd5.jpg)

[2021-12-08 10:45] #37 closed

[2021-12-08 10:48] GeekyCoder7 commented on #38
Can you please try the POST-EFI for installation? Some users reported that using POST-EFI has solved the problem.

[2021-12-08 10:49] GeekyCoder7 commented on #38
@JeeChan6  Can you please try the POST-EFI for installation? Some users reported that using POST-EFI has solved the problem.

[2021-12-08 13:20] JeeChan6 commented on #38
@GeekyCoder7 Thanks it worked. But WIFI and Bluetooth are not working since you use a Broadcom WIFI module. Will you able to help to get the default laptop WIFI drivers (Intel dual band??). I tried to swap with AirportItlwm_v2.0.0_stable_Monterey.kext (removed all Broadcom related Kext and the line from Config file) but it made me struck in Apple logo Boot screen. Can you guide what current Kext n

[2021-12-08 14:02] JeeChan6 commented on #38
![PXL_20211208_133449615](https://user-images.githubusercontent.com/95633962/145221414-00ab2d21-19f5-4bdf-b458-fb686baf45de.jpg)

[2021-12-08 14:05] JeeChan6 commented on #38
Since its struck on this screen, i am not able to know the error even.

[2021-12-12 09:46] biubiue opened #39 "use battery ,it's just work few minitues,otherwrise battery is full"
use battery ,it's just work few minitues,otherwrise battery is full

[2021-12-12 09:48] biubiue opened #40 "single macos ,how set opencore when it start"

[2021-12-12 09:49] biubiue commented on #40
thanks

[2021-12-13 00:40] #29 closed

[2021-12-13 01:33] #40 closed

[2021-12-13 08:19] GeekyCoder7 commented on #38
@JeeChan6 please remove the AirportItlwm_v2.0.0_stable_Monterey.kext as well, and have the broadcom kexts removed as well, both from kext folder and config file. Also enable verbose option: add "-v" in boot-args, so that if by removing the kexts it didn't work, we can investigate the issue better.

[2021-12-17 14:43] dxkrs opened #41 "The tilde key (or swung dash key) Error !"
I used "\Monterey EFI\Post_EFI" installed the Monterey into My Y50-70, everything look likes Ok.(Ps: I also meet the ISSUE #38 so I haven't used the Pre_EFI)

However, I found the error about the tilde key, which left on the key ["1","!"] . The laptop keyboard will show the ["±","§"] when I press "shift+the tilde key" or "the tilde key" , and I found that is no this promble for the external keyboa

[2021-12-21 09:23] dxkrs commented on #41
@GeekyCoder7 can give some help? I usually use the key to go home dir in iterm 😂

[2022-01-05 05:27] elcarajos6 opened #42 "Big sur installation does not show in opencore (usb) plus some dumb questions"
Hi, I'm trying to install Big Sur on my laptop, I had Monterey back then, I had to wipe up my SDD because it was a disaster, I wanted to give Big Sur a shot because I saw it has wifi and bluetooth working, unlike monterey does.
My question, why pre efi (on both big sur and monterey) has missing lots of kexts, like the realtek one? and why does it needs two efis for installing? I'm just curious abo

[2022-01-13 03:37] dxkrs commented on #41
I found the method to "fix" it.
System Setting->keyboard->keyboard tab->change keyboard type.
Open the "Keyboard Setup Assistant",and follow the tips step by step,then choose the "ISO" to finish.
The "Keyboard Setup Assistant" identified result is "ANSI", which will make the keyborad in real Europe mode (the "grave_accent_and_tilde" key will be change to the "non_us_backslash" key).
Is't an error

[2022-01-16 07:42] alikaptanoglu opened #43 "hello"
please make youtube video :(

[2022-01-18 01:32] p3yn commented on #38
I had this issue, big tip: activate verbose mode, (-v) in boot args, so you know what is causing you issues. In my experience installing this same laptop, when it stucks in apple's logo without even loading progress bar, It means kexts errors 99%; and the fastest way to solve it its verbose mode, it will tell you literally what kext stop the booting process, once I understood that, installing time

[2022-01-20 18:47] eXcalibre opened #44 "Remove blutooth"
Hi, Thanks again for this package.
Is there any way to disable the onboard BT only?
I may be wrong but i think its a wifi/bt card.
I want to use a usb BT device as i am having connection issues on BT connected devices at anything more than 1 feet away from the laptop.

[2022-02-15 23:05] GeekyCoder7 commented on #41
@dxkrs Thank you for your solution. I have added your name in the readme, at the bottom, in the thanks section!

[2022-02-15 23:05] #41 closed

[2022-02-18 23:38] GeekyCoder7 commented on #43
@alikaptanoglu I would really like to help you, but unfortunately, I don't have enough equipment to make a youtube video.
Feel free to ask any questions.

[2022-02-18 23:38] #43 closed

[2022-02-18 23:48] GeekyCoder7 commented on #42
Hey @elcarajos6, in order for OpenCore picker to show everything make sure that the `scanpolicy` is set to 0. You can search for the `scanpolicy` attribute using a text editor or Xcode Plist editor.
You mentioned that Monterey does not support wifi and Bluetooth, but everything is working fine for me on Monterey 12.2.1
If you want you can test with the latest 0.7.8 build, I made a few days ago.

[2022-02-18 23:48] #38 closed

[2022-02-18 23:50] #36 closed

[2022-02-19 08:03] xtvj opened #45 "Black screen when installing Monterey"
I downloaded the latest version of Monterey using [macadmin-scripts](https://github.com/munki/macadmin-scripts) and wanted to install it fresh, my laptop already had big sur installed, I used balenaEtcher software in the macos environment to burn the system image to a USB drive, then copied the pre-efi folder to the EFI partition of the USB drive and renamed the folder as EFI, and then select the

[2022-02-20 04:00] xtvj commented on #45
I recreated the boot disk in a virtual machine using TransMac software, using the latest pre-efi, still black screen and no response, basically determined that maybe the efi file is not suitable for my laptop.

[2022-02-21 15:57] xtvj commented on #45
A full install on a USB drive has not been able to boot macos from the USB drive.
I installed macos using online recovery and EFI works fine.

[2022-02-21 15:57] #45 closed

[2022-03-16 21:38] kechoopix opened #46 "Internal display flashing"
Hi! So I have installed Monterey on my Y50-70 successfully! But when I use my laptop display it flashes (it's barerly usable) - how do I fix it? I mainly use my external monitor, but I want to sometimes use my laptop... as an laptop without external display.

[2022-03-17 08:27] GeekyCoder7 commented on #46
Hey @kechoopix, I believe you either have a UHD display or you have changed your monitor or you might have a different integrated graphics card. I don't know if I'm mistaken or not, you need to configure your deviceproperties for your intel hd graphics card. Remember that this guide is designed for Intel HD4600.

[2022-03-17 09:06] kechoopix commented on #46
I have 1080p, unchanged (original) display. My processor is i7-4720HQ with Intel HD 4600 graphics. I have had also tried config.plist for UHD but this won't even boot (it only shows Apple logo - non-UHD version of config.plist shows Apple logo and few seconds after loading bar shows up with those display issues/glitches).

[2022-03-17 09:09] kechoopix commented on #46
In config.plist I have had configured only SMBIOS (serial number etc.) should I change something else?

[2022-03-21 10:13] GeekyCoder7 commented on #46
@kechoopix  Please follow this [guide](https://dortania.github.io/OpenCore-Install-Guide/config-laptop.plist/haswell.html#deviceproperties). This EFI was built using this guide, but please make sure that the information in your config.plist is correct.

[2022-03-22 13:09] kechoopix commented on #46
I have had followed this guide and same results.

[2022-04-13 08:00] yosunpasha commented on #46
Try press fn+f1 when booting also you can try disabling external gpu from BIOS

[2022-04-17 16:26] kechoopix commented on #46
I tried that multiple times. Same result.

[2022-07-23 08:01] DhavalUmraliya opened #47 "Help- i need video instruction"

[2022-08-01 04:48] mywp opened #48 "How to change brightness by Fn + UP/Dow"
How to change brightness by Fn + UP/Dow

[2022-08-06 13:38] #48 closed

[2022-08-09 01:32] mywp opened #49 "NumLock LED ？"
NumLock LED ？

[2022-08-17 12:18] MJavadZamani opened #50 "Which part is related to usb personalization?"
Hello , my laptop Asus N56jk ,the pre version recognizes USB ports without any problem, but in the post version, it does not recognize it. In the post version, many problems have been fixed, but the usb does not work. Does anyone know where I should change it?

[2022-10-31 01:30] llity opened #51 "Support macos 13"
The macOS 13 had been released. Please add support for it.

Thanks.

[2022-10-31 08:47] Hesham-Salama commented on #51
I was about to start this issue too :)

I tried to use the EFI directly, but the installer refuses to boot as Macbookpro11,* is no longer supported.

When I tried to change it to a supported device, the installer gets stuck in loading. In the log, there is some loop.

[2022-10-31 08:51] Hesham-Salama commented on #51
Maybe it would need an Opencore legacy patcher. Also, The boot flag -no_compat_check may also be useful.

[2022-10-31 08:53] GeekyCoder7 commented on #51
Hey folks, I had this planned for a long time, but got a very busy schedule and couldn't manage time to do it. I will try to provide the EFI at the end of the week. I will keep you guys posted under this issue thread. Also note that donations are much appreciated 😁

[2022-11-01 15:24] GeekyCoder7 commented on #51
@llity @Hesham-Salama Support for Ventura has been added 🥳. Click [here.](https://github.com/GeekyCoder7/OpenCore-EFI-Lenovo-Y50-70/tree/main/Ventura%20EFI)

[2022-11-01 15:24] #51 closed

[2022-11-01 18:16] Hesham-Salama commented on #51
Great news! Thanks for the quick post and the effort :)

I am trying it right now but unfortunately OpenCore freezes for me when I use the PRE-EFI or pre patch efi in the usb.

I'll update when I solve this issue.

[2022-11-01 18:18] GeekyCoder7 commented on #51
Glad to help. You can share the logs here if you want.

[2022-11-01 21:10] Hesham-Salama opened #52 ""Boot failed - Already started" when using PRE-EFI for Ventura installation"
I think it's better to open a new issue here instead of the closed macOS 13 support issue :)

Issue:
OpenCore freezes when using PRE-EFI with or without modifying serials, and also when using POST-EFI-BEFORE-PATCH.

The OpenCore logs in the USB:
[code]

How to reproduce:
1. Copy PRE-EFI folder to the USB and rename it to EFI
2. Have the Ventura installation in the second partition of the USB.
3. P

[2022-11-01 21:17] GeekyCoder7 commented on #52
@Hesham-Salama I am sorry you are encountering this error. I did not have any other OS installed when I tried to install Ventura. It seems it's an issue with Windows and OpenCore. Let me know how it works out.

# Booting Windows error: OCB: StartImage failed - Already started
"This is due to OpenCore getting confused when trying to boot Windows and accidentally thinking it's booting OpenCore. This

[2022-11-02 00:02] Hesham-Salama commented on #52
I had to delete all boot entries (macOS/Windows/Linux) from UEFI and delete all folders from EFI folder, only then the installer worked.

Thanks for the hint.

[2022-11-02 00:02] #52 closed

[2022-11-02 01:13] llity commented on #51
@Hesham-Salama I use the POST-EFI-PRE-patch to install the macOS 12, and it works fine.

[2022-11-02 11:20] Hesham-Salama commented on #51
Yes @llity it was a problem in my OpenCore installation due to Windows and Linux being installed after it.

[2022-11-02 11:22] Hesham-Salama commented on #51
@GeekyCoder7 when using the patcher, it complained about SIP and AMFI being enabled, did that happen to you?

I had to disable SIP using opencore.

[2022-11-13 14:23] GeekyCoder7 commented on #51
@Hesham-Salama @llity kindly find the new POST-EFI-AFTER-PATCH with FULL Ventura support.

[2022-11-13 20:20] AllenChangMusic commented on #51
@GeekyCoder7
I can second @Hesham-Salama 's findings. Have to manually update POST-EFI-BEFORE-PATCH to disable SIP and AMFI, otherwise patcher will not patch.

[2022-11-13 20:22] AllenChangMusic opened #53 "No Sound on Ventura with new Stable OC 0.8.6"
With the new updated package dated 2022/11/13, I'm able to boot Ventura, however, unable to get sound working.
Not detected under audio, not included under PCI.
No devices detected in settings, previously working fine on Big Sur.
I see that ALCid = 1, which was what it was before. Lilu, AppleALC, AppleHDA are loaded per kextstat
ACPI folder only has 2 folders, not sure if this is intended.

[2022-11-13 20:29] GeekyCoder7 commented on #51
@AllenChangMusic Yes you should first replace the EFI from PRE-EFI to POST-EFI-BEFORE-PATCH, restart and then try to patch with OCLP. After patching you need to replace with POST-EFI-AFTER-PATCH before reboot.

[2022-11-13 20:32] AllenChangMusic commented on #51
@GeekyCoder7
POST-EFI-BEFORE-PATCH config.plist has AMFI and SIP active.
The patcher will NOT patch in this state. Have to disable them before patcher can patch (patcher specifically tells you that SIP and AMFI have to be disabled for the patcher to work). Can't even get to the step of replacing with POST-EFI-AFTER-PATCH

[2022-11-13 20:34] GeekyCoder7 commented on #53
@AllenChangMusic configuring sound is a bit tricky. First you need to find your hardware ID revision, and match with the ALC codec. Then you will get a list of "alcid"'s that you can use. For me, it used to work fine with BigSur, Monterey but with Ventura it didn't work. I used a DSDT patch for my system.
You can check [this](https://dortania.github.io/OpenCore-Post-Install/universal/audio.html) f

[2022-11-13 20:37] AllenChangMusic commented on #53
@GeekyCoder7
Are you able to share the DSDT? All the Y50-70 should have the same hardware ID revision, so the DSDTs should be the same? My understanding is that the hardware differences are largely FHD/UHD (already have 2 config.plist), synaptic/ALPS, HDD/SSD, and dedicated graphic card (doesn't work in macOS anyways).

[2022-11-13 20:45] Hesham-Salama commented on #51
Thanks @GeekyCoder7 for the new EFI.

I can confirm the patcher complaining about not being able to patch still exists in the new efi.

I had to disable SecureBootModel and use amfi_get_out_of_my_way=1 in boot args in POST-EFI-BEFORE-PATCH so the patcher could work.

I can confirm also @AllenChangMusic's issue about no sound device is detected.

[2022-11-13 20:47] Hesham-Salama commented on #51
By the way sometimes the graphics get limited (dock's color becomes black) when booting Ventura from the final EFI, so I keep rebooting till it is back to normal.

[2022-11-13 20:49] AllenChangMusic commented on #51
I too can confirm @Hesham-Salama finding that graphics sometimes gets messed up. I'm unable to consistently reproduce, not sure if it's only on cold boot, but sometimes on reboot too. It seems that booting with -v removed may also be associated?

[2022-11-13 20:50] GeekyCoder7 commented on #53
@AllenChangMusic If you have Windows installed on your device you can get the DSDT with [SSDTTime](https://github.com/corpnewt/SSDTTime). The problem here is that, I have changed my speakers because the old ones stopped working. The best way is to use SSDTTime with the option `FixHPET`. It will create a aml file that you can replace with the one in the ACPI folder.

[2022-11-13 20:54] GeekyCoder7 commented on #51
@Hesham-Salama @AllenChangMusic  the sound issue is probably because I have different speakers, not the genuine ones that came with the laptop. I will try to give you a solution for that. I will update you on that issue.
Regarding the SIP issue, I will update the EFI for future use.

[2022-11-13 20:56] AllenChangMusic commented on #51
Thank you for all your work @GeekyCoder7 !!!

[2022-11-13 21:18] AllenChangMusic commented on #51
@Hesham-Salama as an update, it appears that a cold boot seems to be associated with graphic acceleration being disabled. Any reboot from windows OR macOS will enable it.
I will try re-patching from a cold boot, and see if that fixes things.

@GeekyCoder7 any ideas why this is happening?

[2022-11-13 22:22] Hesham-Salama commented on #51
Not sure to be honest, I think it's not associated with rebooting, more of randomly.

The patcher is in beta phase so bugs like this in graphics driver is understandable.

Seems also the laptop gets rebooted/crashes when it attempts to sleep. Probably related also to the patcher.

[2022-11-13 23:10] Hesham-Salama commented on #51
By the way the brightness slider is gone in the new EFI.

[2022-11-14 01:10] AllenChangMusic commented on #53
@GeekyCoder7 I gave that a try. Now the headphone/mic shows up, but the internal speakers still do not. What's the next steps to troubleshoot this?

[2022-11-14 02:06] AllenChangMusic commented on #53
UPDATE:

Change layout-id to 3 fixes sound!

[2022-11-14 02:24] AllenChangMusic commented on #51
@Hesham-Salama see my other issue that I closed now. I explained how I fixed the audio. Internal speakers along with line in/out now work

[2022-11-19 10:36] GeekyCoder7 commented on #49
You can check [this](https://github.com/rajiteh/setledsmac).

[2022-11-19 10:36] #49 closed

[2022-11-20 22:03] samysousa opened #54 "Ventura No etherNet, No Wifi in every both Pre and Post"
**Providing this mostly as feedback not Issue or complaint.**

I was not able to use the Recovery install as no Ethernet or Wifi on boot.
Was able to install Ventura with a Full installer made from another Mac, but same here, no ethernet nor wifi.

I use a Lenovo Y50-70 Touch , maybe the "touch" is interfering somehow.
Oddly enough,it does detect the NVIDIA GPU 850M , but no driver. (Only in Ventu

[2022-11-21 20:09] eXcalibre opened #55 "cannot apply patches on OCLP : Ventura"
Hi, thanks so far for your efforts.
I dont seem to be able to get the patching done on my 50-70
I do the install ok with the pre EFI
I do the before patching boot ok too, but your instructions are normally spot on, but in the readme you have the following.

1. After booting replace the system EFI with `POST-EFI-BEFORE-PATCH`.
2. If you feel satisfied with your system, you can skip the rest.
3. Dow

[2022-11-21 21:33] GeekyCoder7 commented on #54
@samysousa thank you for the detailed feedback. Will try to make a fix for you by the end of the week.

[2022-11-21 21:37] GeekyCoder7 commented on #55
@eXcalibre  thank you for the detailed feedback. You can replace `PRE-EFI` with `POST-EFI-BEFORE-PATCH` and restart, and if you feel that you don't further patch you can skip the rest. Otherwise after rebooting with the `POST-EFI-BEFORE-PATCH`, open OCLP and install the patches and replace the EFI with `POST-EFI-BEFORE-PATCH`.
`POST-EFI-BEFORE-PATCH` is required because without this EFI your SIP w

[2022-11-22 07:49] eXcalibre commented on #55
Thanks for the feedback, i am actually booted into the before-patch and its stating that the sip/secure/amfi are enabled. I will redownload the scripts and try again.

I will update with my findings.
Thanks

[2022-11-22 08:29] eXcalibre commented on #55
Ok so i have redownloaded the efis and now i get the SecureBootModel is enabled.
This is the default pre-patching folder contents and just added the serial numbers etc to the config.plist and rebooted.
I think this "may" be due to the "default" in the "securebootmodel" in the plist???

Any further advise please? and thanks again for your efforts

![2022-11-22_08-26-38](https://user-images.githubus

[2022-11-22 08:31] davesuriano commented on #55
Yes man, you have to set Disabled to securebootmodel.

[2022-11-22 08:35] GeekyCoder7 commented on #55
@eXcalibre please open your config.plist with a text editor and find and change SecureBootModel's value (must be Default) to
'Disabled'.

[2022-11-22 09:26] eXcalibre commented on #55
Thank you again, that worked to run the patcher. :)

I seem to still be missing some hardware, such as HDMI, card reader etc.
Now that i have the config.plists i am going to try a new install without transferring my old account and see if it works.

I really do need the HDMI connection as its a large screen i need to view my laptop correctly. I tried both the normal and UHD configs, but neither gi

[2022-11-22 19:14] eXcalibre commented on #55
Closing this call as the original reason if fixed with disabling sip.

[2022-11-22 19:14] #55 closed

[2022-11-23 09:09] GeekyCoder7 commented on #54
@samysousa I have added ethernet for 3 EFIs, you can download [this](https://github.com/GeekyCoder7/OpenCore-EFI-Lenovo-Y50-70/releases/tag/1.6).
Unfortunately, Nvidia GPUs are not supported for a Hackintosh.
Please close this issue when your issue is resolved with the latest release that I have recently updated.

[2022-11-24 04:46] samysousa commented on #54
Hello,
After playing around with it i had figured out it was missing the RTL8111 KEXT myself.
Added it and it did get Ethernet going.
Also realised i have an older model, which explains why WIFI still not working.

I did try adding https://openintelwireless.github.io/itlwm/Compat.html#mvm-gen-1-iwm (ITLWM)  [ Not using the Secure Boot version]

It does make the Wifi detectable as an additional Eth

[2022-11-24 09:57] GeekyCoder7 commented on #54
In order to get the WiFi working you need to change your network card.
I have changed mine to Broadcom BCM94352Z which is compatible with macOS.

[2022-11-25 22:00] mrtiddy opened #56 "Black screen POST install Ventura UHD version after apple logo"
Hi GeekyCoder7,

I have tried to use the EFI's provided on my y50-70 without succes. I am able to install macos and I followed your guide carefully. The issue I have is that after patching and using the POST EFI, I get a black screen after showing the apple logo. The laptop works, however I don't see anything. Connecting it to a monitor through HDMI works. Do you have a solution? (do I perhaps als

[2022-11-28 18:44] samysousa commented on #54
AH i see, that makes sense.
I'll do that and based on what i've learned playing with your files, it should solve other problems as well.

[2022-11-28 19:05] AllenChangMusic commented on #56
I don't have an UHD, but that sounds like you patched it without swapping to POST EFI.
When you plug in HDMI screen, can you verify with the patcher that you actually successfully patched?